@lessCaptionColor: #333;
@lessRegisterHit: #a3a3a3;
@lessSearch: 10px;
@breadcrumb: #515a6e;
@linkColor:#1890ff;
@tableAnt:#fbfbfb;
@editorColor:#ccc;
@bRadius:4px;
@submitColor:#FA6400;
.section-content{

  display: flex;
  flex: 1;
  flex-direction: column;
}
.comm-button {
  display: flex;
  font-size: .18rem;
  color: #fff;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #E02020 0%, #FA6400 100%);
  border-radius: 4px;
}

.site-layout-content {
  display: flex;
  background: #fff;
  padding: @lessSearch 5px 0 0;
}

.search-content {
  .site-layout-content;
  flex-direction: column;
  padding: @lessSearch;
  margin-top: @lessSearch;
}
.upload-pic{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  .upload-pic-list{
    display: flex;
    flex: 1;
    .upload-pic-file{
      display: flex;
      flex: 1;
      align-items: center;
    }
  }
  .upload-pic-hint{
    display: flex;
    align-items: flex-end;
  }
  .upload-pic-text{
    padding: 5px 10px;
    color:@lessRegisterHit;
  }
  .ant-upload-picture-card-wrapper{
    width: auto !important;
  }
}
  .ant-descriptions-item-content {
    .ant-select-selector{
      border: 0 !important;
    }
    span input{
      .ant-select-selector;
    }
  }

